body {
    font-family: 'Merriweather', serif;
    background-color: darkslategray;
}
section {
     display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

article {
    background-color: white;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 10px solid white;
}
article h2 {
    margin-top: 5px;
}
article p {
    
}
article span {
    margin-bottom: 5px;
}
article img {
    width: 100%;
    height: auto;
    padding-top: 10px;
}
article div {
    width: 40px;
    height: 40px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    border-radius: 5px;
}
fullImg {
    width: 200%;
    position: absolute;
    height: 200%;
    display: none;
}
.visible {
    width: 100vw;
    position: absolute;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: flex;
    justify-content: center;
}
.overlay {
    display: none;
}
#large img {
    position: absolute;
    top: 0;
}